@model RecipesSharingWebApp.Areas.Admin.Models.Recipe
@using Microsoft.AspNetCore.Identity
@using RecipesSharingWebApp.Areas.Admin.Models
@inject RecipesSharingWebApp.Helpers.UtilityService utilityService
@inject UserManager<ApplicationUser> userManager

@{
    var profileImagesRootPath = utilityService.GetProfileImagesRootPath(operationType: false);
    var userProfileImagePath = profileImagesRootPath + "/";
}


  <!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Recipe Details</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /bradcam_area  -->
<!-- recepie_area_start  -->
<div class="recepie_area inc_padding">
    <div class="container">
        <div class="row">
          
            </div>

        <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="">
                <div class="recepie_thumb">
                    <img src="@Url.Content(@userProfileImagePath +  Model.CoverImageUrl)" alt="" class="img-fluid">
                </div>
                <h1> Title :  </h1>
                <p> @Model.Title</p>
                <h1>Estimated Time : </h1>
                <p> @Model.TimeSpan</p>
                <h1> Description :</h1>
                <p>@Model.Description</p>
                <h1>Instruction :</h1>
                <p>@Model.Instruction</p>



                <a asp-controller="Home" asp-action="Index" class="line_btn">Back</a>

            </div>
        </div>
         
            </div>

    <hr />
    <div class="ms-4 ms-10">
        @await Component.InvokeAsync("Comment", new { id = Model.Id })

    </div>

    <hr/>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-info">Comments</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th> Name</th>
                            <th>CommentBody</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @{
                                foreach (var comment in Model.Comments)
                                {
                                    <td>@comment.CommentTitle</td>
                                    <td>@comment.CommentBody</td>

                                }
                            }
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    

    </div>
</div>
